header {
  background-color: #003865;
  border-radius: 0px 40px/40px;
  /* title and footer box styling */
  color: #cacaca;
  padding: 1px;
  text-align: center;
  font-size: 1.5rem;
}
header h1 {
  text-shadow: 7px 7px black;
}
header .title-wrapper {
  display: flex;
  margin: 1rem;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}
header .title-wrapper .heading-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
header .title-wrapper .heading-wrapper h1 {
  margin-top: 4px;
  margin-left: -120px;
}
header .title-wrapper img {
  width: 120px;
}
@media screen and (max-width: 834px) {
  header .title-wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 1rem;
    /* adjusts image location in tablet view */
  }
  header .title-wrapper .heading-wrapper h1 {
    margin-left: 0;
    /* keeps heading text centered in tablet view */
  }
}
@media screen and (max-width: 425px) {
  header .title-wrapper .heading-wrapper {
    font-size: 1rem;
    /* shrinks font size in phone view */
  }
}
header .nav-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  padding-bottom: 14px;
}
header .nav-items a {
  text-decoration: none;
  color: #cacaca;
  /* sets nav items to hover and grow */
}
header .nav-items a:hover {
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 834px) {
  header .nav-items {
    font-size: 20px;
    /* shrinks font size in tablet view */
  }
}
@media screen and (max-width: 425px) {
  header .nav-items {
    font-size: 16px;
    /* shrinks font size in phone view */
  }
}

footer {
  background-color: #003865;
  border-radius: 0px 40px/40px;
  /* title and footer box styling */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
footer .social-media {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  padding: 10px;
}
footer .social-media a {
  text-decoration: none;
}
footer .social-media .fa {
  color: #cacaca;
}
footer .social-media .fa:hover {
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 834px) {
  footer .social-media {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
body main {
  /* no media screen adjustments needed as I wanted the boxes to keep
  their size and wrap */
}
body main .flex-container {
  display: flex;
  padding-top: 28px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
body main article figure {
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  padding: 12px;
  width: 16rem;
  height: 16rem;
  background-color: #003865;
  font-size: 1.5rem;
  text-align: center;
  margin: 24px 20px;
}
body main article figure a {
  /* sets hover on link to blogs */
  padding-top: 14px;
  padding-bottom: 28px;
  font-size: 1.5rem;
  text-align: center;
  color: #cacaca;
  text-decoration: none;
  text-shadow: 2px 2px #2944df;
}
body main article figure a:hover {
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
}
body main article img {
  /* for image size */
  max-width: 350px;
  max-height: 150px;
}
body main article figcaption {
  /* sets caption info, in this case blog date */
  background-color: #222;
  font-size: 1rem;
  color: #cacaca;
  padding: 3px;
  text-align: center;
}/*# sourceMappingURL=blog.css.map */